*{
    background-color: black;
}

body{
    color: white;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    width: 70%;
    color: white;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-around;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 14px;
    position: relative;
}

nav a:before{
    content: "";
    position: absolute;
    top:100%;
    left:0%;
    width:0%;
    height: 2px;
    border-bottom: 2px solid white;
    transition: all 0.2s linear;
}

nav a:hover:before{
width: 100%;    
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to left,#111,black);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 100px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 1.6;
}

ul{
    list-style-type: square;
    list-style-image: linear-gradient(to left,black,white)
}
