*{
    background-color: transparent;
}

body{
    color: white;
    min-height: 98vh;
    display: grid;
    background-color: black;
    grid-template-rows: auto 1fr auto;
}

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
}

#lines{
    display: none;
}
.closebtn{
    display: none;
}
nav{
    width: 70%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    position: relative;
}

nav a:before{
    content: "";
    position: absolute;
    top:100%;
    left:0%;
    width:0%;
    height: 0,2rem;
    border-bottom: 0.2rem solid white;
    transition: all 0.2s linear;
}

nav a:hover:before{
    width: 100%;    
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to left,#111,black);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 6rem;
}


ul{
    list-style-type: square;
    list-style-image: linear-gradient(to left,black,white)
}

.container{
    border: 0.1rem solid white;
    justify-content: center;
    align-items: left;
    border-radius: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: left;
    line-height: 1.6;
    padding: 2rem;
    margin: 2rem;
}
.left{
    color: #0FFF50;
}

b{
    color: white;
}

h1{
    color: crimson;
    display: flex;
    justify-content: center;
    margin: 0;
}
h2{
    color: white;
}
h3{
    margin: 0;
}
h4{
    margin: 0;
}

.cmd{
    line-height: 1;
    margin: 0;
    color: red;
}
footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around; 
    height: 15vh;
    background-image: linear-gradient(to left,#111,black);
}
.foot{
    display: flex;
    align-items: center;
    justify-content: space-around;;
    line-height: 1.7;
}
.foot .blogs,.contact,.social{
    display: flex;
    flex-direction: column;
}


footer *{
    color: grey;
}
footer h3{
    color: white;
}

iframe{
    width:36rem; 
    height:22rem; 
}



/*responsiveness*/

@media(max-width: 998px){
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav {
        display: flex;
        font-family: "Lato", sans-serif;
        flex-direction: column; 
        justify-content: left;
        height: 100%;
        width: 0;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 6rem;
    }

    nav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1rem;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    nav a:hover {
        color: #f1f1f1;
    }

    nav .closebtn {
        display: flex;
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    #lines{
        display: block;
        margin: 2rem;
    }
}

@media(max-width: 768px){

    main{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20rem;
            margin-left: 0.8rem;
    }

    nav {
          display: flex;
          font-family: "Lato", sans-serif;
          flex-direction: column; 
          justify-content: left;
          height: 100%;
          width: 0;
          position: fixed;
          top: 0;
          right: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 6rem;
    }

    nav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 1rem;
          color: #818181;
          display: block;
          transition: 0.3s;
    }

    nav a:hover {
        color: #f1f1f1;
    }

    nav .closebtn {
          display: flex;
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }
    #lines{
        display: block;
        margin: 2rem;
    }
    .intro .myinfo,h2{
        display: none;
    }
    .intro .welcome{
        display: flex;
    }
    .container{
        width: 16rem;
    }
    iframe{
        width: 16rem;
        height: 10rem;
    }
    footer{
        height: 30rem;
    }

    footer .foot{
        display: flex;
        flex-direction: column;
    }
    footer .foot div{
        margin-top: 1rem;
    }

}
